<div class="container-fluid menu-coach">
    <div class="row">
        <div class="col-md-11">
            <div class="links">
                <a href="#" class="btn btn-fill">Actualizar diagnóstico</a>
                <a href="#" class="btn btn-primary btn-fill">Portal do Profissional</a>
                <a href="#" class="btn btn-info btn-fill">Subscrever serviço</a>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-img">
                        <img class="card-img img-responsive" src="assets/img/An.png" alt="img">
                    </div>
                </div>
                <div class="card">
                    <div class="card-img">
                        <img class="card-img img-responsive" src="assets/img/An.png" alt="img">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <img class="card-img img-responsive" src="assets/img/An.png" alt="img">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <img class="card-img img-responsive" src="assets/img/An.png" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>