<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card col-md-12">
                <div class="header">
                    <h2 class="title">Desafie e seja desafiado</h2>
                </div>
                <div class="col-md-12">
                    <div class="content">
                        <div class="row">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Desfrute o máximo dos desafios</h4>
                                </div>
                                <div class="content">
                                    <a routerLink="./quizes" class="btn btn-danger btn-fill">Ir para os desafios
                                        <span class="badge badge-info">45+</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Taxa de aproveitamento</h4>
                                </div>
                                <div class="content">
                                    <a href="#" class="btn btn-primary btn-fill">Percentagens desafios (CHARTS)
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Criar desafio</h4>
                                </div>
                                <div class="content">
                                    <a href="#" class="btn btn-info btn-fill">Criar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>