<div class="container-fluid bg-info">
  <h1 class="text-center" *ngIf="!done">
    <ng-container [counter]="1 + activity.duration*60/activity.tasks.length" [times]="activity.tasks.length-taskIndex"
      (value)="value = $event===0 ? nextQuiz() : $event ">
      {{ (value*1000)|amDateFormat: "mm:ss" }}
    </ng-container>
  </h1>
  <div class="modal-dialog" style="margin: 5% auto;">

    <div class="modal-content" *ngIf="!done">

      <div class="modal-header">
        <h3 class="text-center"><span class="label label-warning" id="qid">{{taskIndex+1}}</span> {{task.text}}</h3>
      </div>
      <div class="modal-body">
        <div class="col-xs-3 col-xs-offset-5">
          <div id="loadbar" style="display: none;">
            <div class="blockG" id="rotateG_01"></div>
            <div class="blockG" id="rotateG_02"></div>
            <div class="blockG" id="rotateG_03"></div>
            <div class="blockG" id="rotateG_04"></div>
            <div class="blockG" id="rotateG_05"></div>
            <div class="blockG" id="rotateG_06"></div>
            <div class="blockG" id="rotateG_07"></div>
            <div class="blockG" id="rotateG_08"></div>
          </div>
        </div>

        <div class="quiz" id="quiz" data-toggle="buttons">
          <label class="element-animation1 btn btn-lg btn-primary btn-block"
            *ngFor="let answer of task.answers; let i =index" (click)="addAnswer(answer,taskIndex)">
            <span class="btn-label">
              <i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">
            <h3>{{answer.text}}</h3>
          </label>
        </div>
      </div>
      <div class="modal-footer text-muted">
        <button class="btn btn-default border-none pull-left">
          {{taskIndex+1}}/{{activity.tasks.length}}
        </button>
        <span id="answer">
          <button class="btn btn-default border-none">

          </button>
          <button class="btn btn-primary btn-fill" *ngIf="taskIndex<=activity.tasks.length" (click)="nextQuiz()">
            Próxima questão</button>
        </span>
      </div>
    </div>
    <div class="modal-content" *ngIf="done">

      <div class="modal-header">
        <h3 class="text-center">Resumo</h3>
      </div>
      <div class="modal-body text-center">

        <div class="col-md-12 bg dafault">
          <h1>{{currency(corrects[0]*100/(wrongs[0]+corrects[0]))}}%</h1>
          <h2>{{corrects[0]}} pontos</h2>
          <div class="col-sm-12 card">
            <h5>Correctas: <b>{{corrects[1]}}</b></h5>
            <h5>Erradas: <b>{{wrongs[1]}}</b></h5>
          </div>
        </div>
      </div>
      <div class="modal-footer text-muted">
        <span id="answer">
          <button class="btn btn-default border-none">

          </button>
          <button class="btn btn-success btn-lg btn-fill pull-right" (click)="finishQuiz()">
            Finalizar
          </button>
        </span>
      </div>
    </div>
  </div>
</div>