<div class="col-md-12">
    <h3 class="title">Notícias</h3>
    <p class="category hidden">Fonte: BING</p>
    <label style="font-size: 10px; color: #AAA; font-weight: normal;">{{bingNews.readLink}}</label>
</div>
<div class="col-md-3 " *ngFor="let item of news| slice:0:8" style="height: 300px;">
    <a href="{{item.url}}" target="_blank">
        <div class="card">
            <div class="card-header">
                <img src="{{ item.urlToImage}}" class="img-responsive" style="width: 100%;" /></div>
            <div class="card-body" style="padding: 5px 15px; height: 140px;">
                <label class="pull-right">{{item.publishedAt|amLocale:'pt'| amTimeAgo}}</label>
                <h5>{{ item.title }}</h5>
                <p style="display: none;">{{ item.description }}</p>
            </div>
            <div class="card-footer  hidden" style="padding: 15px; border-top:solid 1px #eee; height: 80px;">
                <span *ngFor="let x of item.mentions" class="badge badge-info">{{ x.name }}</span>

            </div>
        </div>
    </a>
</div>

<div class="row hidden">



 
            <div class="content-container" fxLayout="column" fxLayoutAlign="stretch" fxFlex="auto">
              <swiper *ngIf="type == 'component' && show" class="swiper-container" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                <div *ngFor="let slide of news" class="swiper-slide" >
                  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                    <img src="{{ getThumbnails(slide)}}" class="img-responsive" style="width: 100%;" />
                  </div>
                </div>
              </swiper>
      
              <div *ngIf="type == 'directive' && show" class="swiper-container" [disabled]="disabled" [swiper]="config" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                <div class="swiper-wrapper">
                  <div *ngFor="let slide of slides" class="swiper-slide">
                    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
                      {{slide}}
                    </div>
                  </div>
                </div>
      
                <div class="swiper-scrollbar" [hidden]="config.scrollbar === false"></div>
                <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
      
                <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
                <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
              </div>
            </div>
         
</div>