.frontpage_square{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;

    div.label-box{
            position: absolute;
            
            width: 100%;
            text-align: center;
            *{
                text-align: center;
            }
    }
    }
    .frontpage_square img{
    position:absolute;
    }