<div class="main-content">
    <div class="container-fluid">

        <div class="col-md-4">
            <lbd-chart *ngIf="dataLoaded" [subtitle]="''" [title]="'% Objectivos semanais'"
                [chartClass]="'ct-perfect-fourth'" [chartType]="emailChartType" [chartData]="emailChartDataSeries"
                [legendItems]="emailChartLegendItems" [withHr]="true" [chartOptions]="chartOptions">
            </lbd-chart>
        </div>

        <div class="col-md-4">
            <lbd-chart *ngIf="dataLoaded" [subtitle]="''" [title]="'Dashboard executivo'"
                [chartType]="activityChartType" [chartData]="activityChartData" [chartOptions]="activityChartOptions"
                [chartResponsive]="activityChartResponsive" [legendItems]="activityChartLegendItems" [withHr]="true">
            </lbd-chart>
        </div>

        <div class="col-md-4">
            <app-task></app-task>
        </div>


        <div class="col-md-12">
            <app-news></app-news>
        </div>
        <app-quiz-solve-form></app-quiz-solve-form>
    </div>