<app-backoffice-navbar [title]="'Nível académico'"></app-backoffice-navbar>
<div class="card">
    <div class="header">
        <p class="category">Here is a subtitle for this table</p>
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th style="width: 200px;">Nível</th>
                    <th>Descrição</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let academicLevel of academicLevelsPaginated; let i=index" routerLink="/backoffice/academic-levels/update/{{academicLevel.id}}">
                    <td>{{i+1}}</td>
                    <td>{{academicLevel.name}}</td>
                    <td>
                        {{academicLevel.descriptions}}
                    </td>
                    <td>
                        <button
                            class="btn btn-sm btn-fill btn-{{['success','danger'][academicLevel.isActive ? 0 : 1]}}">
                            {{['Activo','Inactivo'][academicLevel.isActive ? 0 : 1]}}
                        </button>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <app-jw-pagination [items]="academicLevels" [pageSize]=10  (changePage)="onChangePage($event)" *ngIf="academicLevels.length>0">
        </app-jw-pagination>
    </div>
</div>