.card.red {
    .card-header {
        background: #ea1d1d;
        background: linear-gradient(to bottom, #ea1d1d 0%, #770000 100%);
    }
}

.card.default {
    .card-header {
        background: #1dc7ea;
        background: linear-gradient(to bottom, #1dc7ea 0%, #4091ff 100%);
    }
}

.card {
    .card-header {
        padding: 5px 15px;
        background: #fff;
        padding: 15px;
        border-radius: 5px 5px 0 0;
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        position: relative;
        overflow: hidden;
        background-size: 150% 150%;
        button {
            padding: 0;
        }
        h3 {
            position: relative;
            z-index: 2;
            color: #fff;
        }
        img {
            position: absolute;
            left: 0;
            top: -70%;
            width: 100%;
            height: auto;
            opacity: 0.3;
        }
    }

    .card-body {
        ul {
            li.list-group-item {
                border: none;
                border-bottom: solid 1px #eee;
                padding: 0 15px;
            }
        }
        small {
            color: #aaa;
            font-size: 10px;
            margin-left: 20px;
        }
    }
}
.jw-modal {
    .form-title {
        font-weight: 900;
        font-size: 24px;
    }
}
.editing {
    input,
    textarea {
        border: none !important;
    }
}
.text24 {
    font-size: 24;
}
.list-group-item {
    cursor: pointer;
    border-bottom: solid 1px #eee;
    margin-bottom: 2px;
}
.list-group-item:hover {
    background-color: #eee;
}
