<div class="card {{cssClass}}">
    <div class="card-header ">
        <img src="assets/img/sidebar-3.jpg">
        <h3 class="pull-left">Notas</h3>
        <button class="btn border-none pull-right" (click)="openModal()">
            <h3><i class="pe-7s-plus"></i></h3>
        </button>
    </div>
    <div class="card-body" style="padding: 15px; border-top:solid 1px #eee">
        <ul class="list-group">
            <li class="list-group-item" (click)="openModal(note)" *ngFor="let note of notesPaginated;let j=index">
                <button class="btn btn-xs pull-right border-none" style="font-size: 24px;">
                    <i class="pe-7s-angle-right text24"></i>
                </button>
                <span class="pull-left">{{j+1}}. &nbsp;&nbsp;</span>
                {{note.title}}<br>
                <small>{{note.updatedAt|amLocale:'pt'|amTimeAgo}}</small>
            </li>
        </ul>
    </div>
    <div class="card-footer">
        <app-jw-pagination [items]="notes" (changePage)="onChangePage($event)" *ngIf="notes.length>0">
        </app-jw-pagination>
    </div>
</div>


<jw-modal id="note-modal" class="sm {{editing ? 'editing':''}}">
    <br>
    <h4><span *ngIf="!editing">{{note.id ==undefined ? 'Nova' : 'Actualizar'}} Nota</span>
        <button class="btn pull-right border-none" (click)="editing=!editing" *ngIf="editing"><i
                class="pe-7s-note"></i></button>
    </h4>
    <hr>
    <div class="row text-center card-body {{editing ? 'editing':''}}">
        <form #courseF="ngForm" [formGroup]="form.fg" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="email" style="font-weight: 900;font-size: 24px;"
                                class="form-control form-title form-control-lg" [(ngModel)]="note.title"
                                formControlName="title" required aria-describedby="emailHelp" placeholder="Título">

                            <div *ngIf="form.controls.title.touched && form.controls.title.invalid" class="error">
                                <div *ngIf="form.controls.title.errors.required">Este campo é obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea type="email" class="form-control form-control-lg" [(ngModel)]="note.descriptions"
                                formControlName="descriptions" required aria-describedby="emailHelp"
                                placeholder="insira o seu texto aqui" style="height: 400px;"></textarea>

                            <div *ngIf="form.controls.descriptions.touched && form.controls.descriptions.invalid"
                                class="error">
                                <div *ngIf="form.controls.descriptions.errors.required">Este campo é obrigatório</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center"><br>
                <button class="btn btn-success bg-success" *ngIf="!editing || note.id===undefined">Salvar</button>
            </div>
        </form>

    </div>
</jw-modal>