<div class="card">
    <div class="header">
        <h4 class="title">Editar Perfil</h4>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-2 text-right"><i class="fa fa-user"></i></div>
            <div class="col-md-10">
                <h5>{{auth.user.email}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right"><i class="fa fa-calendar"></i></div>
            <div class="col-md-10">
                <h5>{{auth.user.createdAt}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 text-right"><i class="fa fa-telephone"></i></div>
            <div class="col-md-10">
                <h5>{{auth.user.telePhone}}</h5>
            </div>
        </div>
    </div>
</div>