.card {
    .card-header {
        .row {
            border-bottom: solid 1px #ccc;
            div.col {
                padding: 15px;
                font-size: 18px;
                font-weight: 0;
            }
        }
    }
    .card-body {
        .row {
            border-bottom: solid 1px #ccc;
            background-color: #f4fbff;
            div.col {
                padding: 15px;
                font-size: 16px;
                font-weight: 900;
                span.tin-text {
                    font-size: 12px;
                    font-weight: 100;
                }
            }
            div.col.actions {
                padding-left: 15px;
                padding-right: 15px;
                .btn {
                    padding: 0 15px;
                    font-size: 25px;
                    border-color: transparent;
                    margin: -15px;
                }
            }
        }
    }
}

.frontpage_square {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;

    div.label-box {
        position: absolute;

        width: 100%;
        text-align: center;
        * {
            text-align: center;
        }
    }
}
.frontpage_square img {
    position: absolute;
}
