<div class="row">
    <h2>Receitas</h2>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col col-xs-6">Tarefa
                        </div>
                        <div class="col col-xs-4">Orçamento</div>
                        <div class="col col-xs-2">Registar</div>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <ngx-skeleton-loader *ngIf="revenue.length==0" count=3 animation="pulse"></ngx-skeleton-loader>
                <div class="col-xs-12">
                    <div class="row" *ngFor="let item of revenue; let i = index">
                        <div class="col-md-12">
                            <div class="col col-xs-6">
                                <button class="accordion btn btn-xs pe-7s-angle-down pull-left"
                                    title="panel-revenue-{{i}}" (click)="accordion($event.target)"></button>
                                <div>
                                    <span class="tin-text">{{item.goal.objectives}}</span><br />
                                    {{item.descriptions}}
                                    <span title="{{taskStatesArr[item.state]}}"
                                        class="label btn-xs label-{{['default','primary','warning','success','danger','default'][item.state]}}">
                                       . 
                                    </span>
                                </div>

                            </div>
                            <div class="col col-xs-3 text-right">
                                {{item.revenue}} kzs<br>
                                <span class="tin-text">{{valueToFix(item)}}</span>
                            </div>
                            <div class="col col-xs-2">
                                <span
                                    class="label label-{{['success','danger','danger'][stateBudget(item,true)]}} label-xs">{{['Em
                                    dia','Desvio','Desvio'][stateBudget(item,true)]}}</span>
                            </div>

                            <div class="col col-xs-1 actions text-right"><button class="btn"
                                    (click)="createBudget(item, true)" *ngIf="item.state<3"><i
                                        class="pe-7s-plus"></i></button></div>
                        </div>
                        <div class="panel" id="panel-revenue-{{i}}">
                            <div class="col-md-12 content table-responsive table-full-width">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-right">Valor</th>
                                            <th>Origem</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let b of item.budgets">
                                            <td class="text-right">{{b.value}}</td>
                                            <td>{{b.category.name}}</td>
                                            <td>{{b.createdAt|date }}</td>
                                        </tr>

                                        <tr *ngIf="item.budgets.length<1">
                                            <td colspan="3" class="text-center">
                                                Sem registo
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-footer">. . . </div>
        </div>
    </div>
    <div class="col-sm-6">
        <lbd-chart *ngIf="expensesCharData" [title]="'Receitas'" [chartType]="activityChartType"
            [chartData]="expensesCharData" [chartOptions]="activityChartOptions"
            [chartResponsive]="activityChartResponsive">
        </lbd-chart>
    </div>
</div>

<div class="row">
    <h2>Despesas</h2>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col col-xs-6">Tarefa
                        </div>
                        <div class="col col-xs-4">Orçamento</div>
                        <div class="col col-xs-2">Registar</div>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <ngx-skeleton-loader *ngIf="expenses.length==0" count=3 animation="pulse"></ngx-skeleton-loader>
                <div class="col-xs-12">
                    <div class="row" *ngFor="let item of expenses; let i = index">
                        <div class="col-md-12">
                            <div class="col col-xs-6">
                                <button class="accordion btn btn-xs pe-7s-angle-down pull-left"
                                    title="panel-expenses-{{i}}" (click)="accordion($event.target)"></button>
                                <div>
                                    <span class="tin-text">{{item.goal.objectives}}</span><br />
                                    {{item.descriptions}}
                                    <span title="{{taskStatesArr[item.state]}}"
                                        class="label btn-xs label-{{['default','primary','warning','success','danger','default'][item.state]}}">
                                       . 
                                    </span>
                                </div>
                            </div>
                            <div class="col col-xs-3 text-right">
                                {{item.expenses}} kzs<br>
                                <span class="tin-text">{{valueToFix(item, false)}}</span>
                            </div>

                            <div class="col col-xs-2">
                                <span
                                    class="label label-{{['danger','warning','success'][stateBudget(item,false)]}} label-xs">{{['Desvio','Crítico','Em
                                    dia'][stateBudget(item,false)]}}</span>
                            </div>

                            <div class="col col-xs-1 actions text-right"><button class="btn"
                                    (click)="createBudget(item, false)" *ngIf="item.state<3"><i
                                        class="pe-7s-plus"></i></button></div>

                        </div>
                        <div class="panel" id="panel-expenses-{{i}}">
                            <div class="col-md-12 content table-responsive table-full-width">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-right">Valor</th>
                                            <th>Origem</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let b of item.budgets">
                                            <td class="text-right">{{b.value}}</td>
                                            <td>{{b.category.name}}</td>
                                            <td>{{b.createdAt|date }}</td>
                                        </tr>
                                        <tr *ngIf="item.budgets.length<1">
                                            <td colspan="3" class="text-center">
                                                Sem registo
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">. . . </div>
        </div>
    </div>
    <div class="col-md-6">
        <lbd-chart *ngIf="revenueCharData" [title]="'Despesas'" [chartType]="activityChartType"
            [chartData]="revenueCharData" [chartOptions]="activityChartOptions"
            [chartResponsive]="activityChartResponsive">
        </lbd-chart>
    </div>
</div>


<jw-modal id="budget-modal" class="sm" title="{{budget.task.descriptions}}"
    subtitle="Registo de <b>{{budget.direction ? 'entradas' : 'saídas'}}</b>">
    <div toastContainer></div>
    <form [formGroup]="form" (ngSubmit)="saveBudget()">
        <div class="row">
            <div class="col-md-6">
                <h5>Orçamento</h5>
                <h6>{{budget.direction ? budget.task.revenue : budget.task.expenses }}</h6>
            </div>
            <div class="col-md-6">
                <h5>Realizado</h5>
                <h6>{{valueToFix(budget.task)}}</h6>
            </div>
            <div class="col-md-12">
                <hr>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="value">Valor</label>
                    <input type="number" class="form-control form-control-lg" [(ngModel)]="budget.value"
                        formControlName="value" #value>

                    <div *ngIf="controls.value.touched  && controls.value.invalid" class="error">
                        <div *ngIf="controls.value.errors.required">Este campo é obrigatório</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="category">Categoria</label>
                    <select class="form-control form-control-lg" [(ngModel)]="budget.category"
                        formControlName="category" #category>
                        <option *ngFor="let item of getBudgetCategories" [ngValue]="item">{{item.name}}</option>
                    </select>

                    <div *ngIf="controls.category.touched  && controls.category.invalid" class="error">
                        <div *ngIf="controls.category.errors.required">Este campo é obrigatório</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row text-center"><br>
            <button class="btn btn-success btn-fill" type="submit">Salvar</button>
        </div>
    </form>
</jw-modal>