<div class="card" style=" min-height:455px;">
    <div class="header">
        <h4 class="title">Agendas e pendentes</h4>
        <span>{{now|amLocale:'pt'| amParseZone | amDateFormat: "dddd, D [de] MMMM [de] YYYY" }}</span>
        <br>
    </div>
    <div class="card-body tasks row">
        <div class="col-md-12">
            <div class="list-group">
                <a class="row list-group-item task-{{['default','danger','warning','success','danger'][item.state]}}"
                    *ngFor="let item of todos| slice:0:5; let i = index">

                    <div class="col-xs-2 col-md-1">
                        <div class="checkbox">
                            <input id="checkbox_{{i}}" type="checkbox" (change)="updateState(item, 3,'overDue')">
                            <label for="checkbox_{{i}}"></label>
                        </div>
                    </div>
                    <div class="col-xs-10 col-md-11" (click)="showTaskDetails(item)">
                        <h5 class="date">
                            {{item.dueDate|amLocale:'pt'| amParseZone | amDateFormat: "dddd, D [de] MMMM " }}
                            <span
                                class="label label-{{['default','danger','warning','success','danger'][item.state]}}">{{['Pendente','Por
                                inicial','Em curso','Concluido','Cancelado'][item.state]}}</span>
                        </h5>
                        <span>{{item.descriptions}}</span>

                        <label class="pull-right"> {{item.createdAt|amLocale:'pt'| amTimeAgo}}</label>
                    </div>
                </a>
                <div class="col-md-12 text-center" *ngIf="tasks.overDue.length>5" style="padding: 15px;">
                    <a (click)="overDueLimit=overDueLimit==100 ?5:100"
                        class="btn btn-default btn-xs"> Ver
                        {{overDueLimit==100 ?'menos':'mais ' + (tasks.overDue.length -5)}}
                    </a>
                </div>
                <div *ngIf="todos.length==0" class="text-center">
                    Não existe agendas e pendentes para hoje
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <h4 class="title">Tarefas em atraso <span class="badge badge-light pull-right">{{tasks.overDue.length}}</span>
        </h4>
    </div>

    <div class="card-body tasks row">
            <div class="list-group  list-group-flush"  *ngIf="tasks.overDue.length>0">
                <a class="list-group-item task-{{['default','danger','warning','success','danger'][item.state]}}"
                    *ngFor="let item of tasks.overDue| slice:0:overDueLimit let i = index">
                    <div class="row">
                        <div class="col-xs-2 col-md-1">
                            <div class="checkbox">
                                <input id="checkbox_{{i}}" type="checkbox" (change)="updateState(item, 3,'overDue')">
                                <label for="checkbox_{{i}}"></label>
                            </div>
                        </div>
                        <div class="col-xs-10 col-md-11" (click)="showTaskDetails(item)">
                            <h5 class="date">
                                {{item.dueDate|amLocale:'pt'| amParseZone | amDateFormat: "dddd, D [de] MMMM " }}
                                <span
                                    class="btn-xs label label-{{['default','danger','warning','success','danger'][item.state]}}">{{['Pendente','Por
                                    inicial','Em curso','Concluido','Cancelado'][item.state]}}</span>
                            </h5>
                            <span>{{item.descriptions}}</span>

                            <label class="pull-right"> {{item.dueDate|amLocale:'pt'| amTimeAgo}}</label>
                        </div>
                    </div>
                </a>
                <div class="col-md-12 text-center" *ngIf="tasks.overDue.length>5" style="padding: 15px;">
                    <a (click)="overDueLimit=overDueLimit==100 ?5:100"
                        class="btn btn-default btn-xs"> Ver
                        {{overDueLimit==100 ?'menos':'mais ' + (tasks.overDue.length -5)}}
                    </a>
                </div>
            </div>
            <div *ngIf="tasks.overDue.length==0" class="text-center">
                Não existe agendas e pendentes para hoje
            </div>
    </div>

    <div class="header">
        <h4 class="title">Tarefas da semana <span class="badge badge-light pull-right">{{tasks.thisWeek.length}}</span>
        </h4>
    </div>
    <div class="card-body tasks row">
        <div class="col-md-12">
            <div class=" list-group list-group-flush">
                <a class="row list-group-item task-{{['default','danger','warning','success','danger'][item.state]}}"
                    *ngFor="let item of tasks.thisWeek|slice:0:thisWeekLimit; let i = index">

                    <div class="col-xs-2 col-md-1">
                        <div class="checkbox">
                            <input id="checkbox_{{i}}" type="checkbox" (change)="updateState(item, 3,'overDue')">
                            <label for="checkbox_{{i}}"></label>
                        </div>
                    </div>
                    <div class="col-xs-10 col-md-11" (click)="showTaskDetails(item)">
                        <h5 class="date">
                            {{item.dueDate|amLocale:'pt'| amParseZone | amDateFormat: "dddd, D [de] MMMM " }}
                            <span
                                class="label label-{{['default','danger','warning','success','danger'][item.state]}}">{{['Pendente','Por
                                inicial','Em curso','Concluido','Cancelado'][item.state]}}</span>
                        </h5>
                        <span>{{item.descriptions}}</span>

                        <label class="pull-right"> {{item.createdAt|amLocale:'pt'| amTimeAgo}}</label>
                    </div>
                </a>
                <div class="col-md-12 text-center" style="padding: 15px;" *ngIf="tasks.thisWeek.length>5">
                    <a (click)="thisWeekLimit=thisWeekLimit==100 ?5:100" class="btn btn-default btn-xs"> Ver
                        {{thisWeekLimit==100 ?'menos':'mais ' + (tasks.thisWeek.length -5)}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<jw-modal id="task-detail-modal" class="lg">
    <button class="btn pull-right" style="font-size: 50px; border:none;" (click)="closeModal('task-detail-modal')"><i
            class="pe-7s-close"></i></button>
    <h1>Detalhes</h1>

    <hr>
    <div class="col-md-12 details">
        <div class="col-md-6">
            <div class="row">
                <h5>Tarefa</h5>
                <h3 style="font-weight: 900;">{{taskDetails.descriptions}}</h3>
            </div>
            <div class="row">
                <h5>Receitas</h5>
                <h4>{{taskDetails.revenue}} <span style="font-size: 14px;">KZs</span></h4>
            </div>
            <div class="row">
                <h5>Curstos</h5>
                <h4>{{taskDetails.expenses}} <span style="font-size: 14px;">KZs</span></h4>
            </div>
            <div class="row">
                <h5>Estado</h5>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span
                            class="label label-{{['default','danger','warning','success'][taskDetails.state]}}">{{['Pendente','Por
                            inicial','Em curso','Concluido'][taskDetails.state]}}
                            <b class="caret" *ngIf="states(taskDetails.state).length>0"></b></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let state of states(taskDetails.state)">
                            <a>{{['Pendente','Por inicial','Em curso','Concluido','Cancelar'][state]}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h5>Data de criação</h5>
                <h4>{{taskDetails.createdAt|date}}</h4>
            </div>
            <div class="row">
                <h5>Último acesso</h5>
                <h4>{{taskDetails.updatedAt|date}}</h4>
            </div>
            <div class="row">
                <h5>Data de conclusão</h5>
                <h4>{{taskDetails.dueDate|date}} <i class="pe-7s-clock" style="color: #F00;"
                        *ngIf="!inTime(taskDetails.dueDate)"></i></h4>
            </div>
            <div class="row bd-callout bd-callout-info">

                <h5>Observações</h5>
                <span>{{taskDetails.observations}}</span>

            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12" style="border:solid 1px #eee; background-color: #eee;">
            <div class="col-md-6">
                <div class="row">
                    <h5>Objectivo</h5>
                    <h4>{{taskDetails.goal.objectives}} - {{anualGoal(taskDetails.goal)}} por ano</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h5>Domínio</h5>
                    <h4>{{taskDetails.goal.group}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center"><br>

    </div>
</jw-modal>