<div class="main-content">
  <div class="container-fluid">
    {{selfEvaluations|json}}
    <div class="col-md-8">
      <div class="col-md-6" *ngFor="let item of selfEvaluations; let i =index">
        <div class="card">
          <div class="card-header" style="padding: 5px 15px; background-image:url(assets/img/sidebar-{{i}}.jpg)">
            <img src="" class="img-responsive" />
            <h4>{{item[0]}}</h4>
          </div>
          <div class="card-body" style="padding: 15px; border-top:solid 1px #eee">

            <ul class="list-group">
              <li (click)="openModal('self-evaluation-modal', v)" class="list-group-item" *ngFor="let v of item[1]">{{v.name}}</li>
            </ul>
          </div>
          <div class="card-footer" style="padding: 15px; border-top:solid 1px #eee"><span
              class="badge badge-info"></span></div>
        </div>
      </div>



    </div>
  </div>
</div>

<div>
  <h1>Home</h1>
  <p>{{bodyText}}</p>
  <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
  <button (click)="openModal('custom-modal-2')">Open Modal 2</button>
  <button (click)="reg()">Open Modal 3</button>
</div>

<jw-modal id="self-evaluation-modal" class="sm" title="Auto Avaliação - {{currentSelfEvaluations.name}}">
  <h4>{{currentSelfEvaluations.group}}</h4>
  <hr>
  <div class="row text-center">
    <app-rating max=4 (change)='onChange($event)'></app-rating>
    <h5>{{label[rate-1]}}</h5>
  </div>  
  <div class="row text-center"><br>
    <button class="btn btn-success bg-success" (click)="saveEvaluation()">Salvar</button>
  </div>
</jw-modal>
