<nav class="navbar navbar-dark bg-dark">
  <div class="main-content" style="padding:0 15px;">
    <div class="container-fluid">

        <div class="col-md-8">
          <button class="btn {{isSelfEvaluation==1 ? 'active' : ''}}" (click)="switchtabTo(1)">Auto avaliação</button>
          <button class="btn {{isSelfEvaluation==2 ? 'active' : ''}}" (click)="switchtabTo(2)">FeedBack 360º</button>
          <button class="btn {{isSelfEvaluation==3 ? 'active' : ''}}" (click)="switchtabTo(3)">FeedBack request</button>
        </div>
        <div class="col-md-4">
      </div>
    </div>
  </div>
</nav>
<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-8">
      <app-self-evaluation *ngIf="isSelfEvaluation==1"></app-self-evaluation>
      <app-feedback-evaluation *ngIf="isSelfEvaluation==2"></app-feedback-evaluation>
      <app-evaluation-request  *ngIf="isSelfEvaluation==3"></app-evaluation-request>
    </div>
      <div class="col-md-4">
        
      </div>
  </div>
</div>
