

body.modal-open{
    .modal-dialog {
    margin: 15% auto;
}
.d-block.modal.show {
    opacity: 1;
}
.d-block.modal.show {
    opacity: 1 !important;
}

.fade.modal-backdrop.show, .d-block.fade.modal.show{
    opacity: 1 !important;
}
}

.bg-aqua{background: #def7ff;
    //*{color: #FFF !important;}
    }
    nav.navbar{
        .btn{
            text-align: left;
            border-color: transparent;
            i.fa{
                font-size: 36px;
            }
        }
    }