<nav class="navbar navbar-dark bg-aqua">
    <div class="main-content">
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="col-lg-4 col-md-4">
            <h2>{{['Perfil','Segurança e privacidade','Definições'][isTab-1]}}</h2>
            <h4>{{user.datas.firstName}} {{user.datas.lastName}}</h4>
            <small>{{auth.user.code}}</small>
          </div>
          <div class="col-lg-6 col-md-8 text-right">
              <div class="row">
            <div class="col-xs-4 col {{isTab==1 ? 'active' : ''}}" (click)="switchtabTo(1)">
              <i class="pe-7s-user"></i><br>
              <h4>Perfil</h4>
              <p>Permite ao utilizador efectuar a definição e o carregamento dos objectivos, indicadores (KPI) e metas (anuais, trimestrais e mensais)</p>
            </div>
            <div class="col-xs-4 col {{isTab==2 ? 'active' : ''}}" (click)="switchtabTo(2)">
              <i class="pe-7s-shield"></i><br>
              <h4>Segurança e privacidade</h4>
              <p>Permite ao utilizador converter em efectivo as despesas e receitas registadas aquando do planeamento das tarefas. Permite também efectuar o controlo orçamental.</p>
            </div>
            <div class="col-xs-4 col {{isTab==3 ? 'active' : ''}}" (click)="switchtabTo(3)">
              <i class="pe-7s-config"></i><br>
              <h4>Definições</h4>
              <p>Permite ao utilizador converter em efectivo as despesas e receitas registadas aquando do planeamento das tarefas. Permite também efectuar o controlo orçamental.</p>
            </div>
        </div>
          </div>
          <div class="col-lg-2">
          </div>
        </div>
      </div>
    </div>
  </nav>


<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-10">

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="image">
                            
                        </div>
                        <div class="content text-center">
                            <div class="author">
                                <img class="avatar border-gray" src="{{auth.user.avatar}}"
                                    alt="..." />

                                <h4 class="title">{{user.datas.firstName}} {{user.datas.lastName}}<br />
                                    <small>{{auth.user.code}}</small>
                                </h4>
                            </div>
                            <button *ngFor="let role of auth.user.roles"
                                  class="btn-fill btn-xs btn-{{role| lowercase}} btn" style="border: none; padding:5px">{{role}}</button>
                            <p class="description text-center hidden"> "Lamborghini Mercy <br>
                                Your chick she so thirsty <br>
                                I'm in that two seat Lambo"
                            </p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <app-user-details *ngIf="isTab==1" [user]="user"></app-user-details>
                    <app-user-security *ngIf="isTab==2"></app-user-security>
                    <app-user-settings *ngIf="isTab==3"></app-user-settings>
                </div>
            </div>

        </div>
    </div>
</div>