<nav class="navbar navbar-dark bg-aqua">
    <div class="main-content">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="col-md-4">
                    <h2>{{auth.user.firstName}} {{auth.user.lastName}}</h2>
                </div>
                <div class="col-md-6 text-right" style="padding:0 15px;">
                    <div class="btn {{isTab==1 ? 'active' : ''}}" (click)="switchtabTo(1)">

                        <i class="pe-7s-user" style="font-size:24px"></i><br>
                        <h5>Editar perfil</h5></div>
                    <div class="btn {{isTab==2 ? 'active' : ''}}" (click)="switchtabTo(2)">

                        <i class="pe-7s-bell" style="font-size:24px"></i><br>
                        <h5>Notificações</h5></div>
                    <div class="btn {{isTab==3 ? 'active' : ''}}" (click)="switchtabTo(3)">
                        <i class="pe-7s-key" style="font-size:24px"></i>
                        <br>
                        <h5>Alterar a Palavra passe</h5></div>
                    <div class="btn {{isTab==3 ? 'active' : ''}}" (click)="switchtabTo(3)">
                        <i class="pe-7s-config" style="font-size:24px"></i>
                        <br>
                        <h5>Definições</h5>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</nav>


<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-10">

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-user">
                        <div class="image">
                            
                        </div>
                        <div class="content text-center">
                            <div class="author">
                                <img class="avatar border-gray" src="{{auth.serverAdresss+auth.user.photoUrl}}"
                                    alt="..." />

                                <h4 class="title">{{auth.user.firstName}} {{auth.user.lastName}}<br />
                                    <small>{{auth.user.code}}</small>
                                </h4>
                            </div>
                            <button class="btn btn-outline-success btn-danger">
                                <i *ngIf="auth.user.roleId!='FREE'" class="pe-7s-medal"
                                    style="font-size: 33px; padding: 5px;"></i>
                                <i *ngIf="auth.user.roleId=='FREE'" class="pe-7s-delete-user"
                                    style="font-size: 33px; padding: 5px;"></i>
                                <span style="padding: 5px 10px;font-size: 36px;">{{auth.user.roleId}}</span>
                            </button>
                            <p class="description text-center hidden"> "Lamborghini Mercy <br>
                                Your chick she so thirsty <br>
                                I'm in that two seat Lambo"
                            </p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                            <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <app-user-details *ngIf="isTab==0"></app-user-details>
                    <app-user-edit *ngIf="isTab==1"></app-user-edit>
                </div>
            </div>

        </div>
    </div>
</div>