<div class="card">
    <div class="header">
        <h4 class="title">. . . </h4>
    </div>
    <div class="content">
    </div>
</div>
<div class="card integration-card">
    <div class="header">
        <h4 class="title">Integração </h4>
    </div>
    <div class="content">

        <div class="row">
            <div class="col-md-2">
                <img src="assets/img/icon/google.svg" class="social-logo">
            </div>
            <div class="col-md-8">
                Google
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm">Conectar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <img src="assets/img/icon/microsoft.svg" class="social-logo">
            </div>
            <div class="col-md-8">
                Microsoft
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm">Conectar</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <img src="assets/img/icon/facebook-official.svg" class="social-logo">
            </div>
            <div class="col-md-8">
                Facebook
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm">Conectar</button>

            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <img src="assets/img/icon/zoom.svg" class="social-logo">
            </div>
            <div class="col-md-8">
                Zoom
            </div>
            <div class="col-md-2">
                <button class="btn btn-sm">Conectar</button>
            </div>
        </div>

    </div>
</div>

<div class="card">
    <div class="header">
        <h4 class="title">Veja quando e onde você usou sua conta</h4>
        <label>Você deve reconhecer cada uma dessas atividades recentes. Se algum parecer desconhecido, clique nele para
            nos informar.</label>
    </div>
    <div class="content">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>
</div>
<div class="card">
    <div class="header">
        <h4 class="title">Alterar a palavra passe </h4>
    </div>
    <div class="content">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Palavra passe actual</label>
                        <input type="text" class="form-control" placeholder="Company" value="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Nova palavra passe</label>
                        <input type="text" class="form-control" placeholder="Company" value="">
                        <label>8-character minimum; case sensitive</label>
                        <label>Uma palavra passe forte ajuda a prevenir o acesso não autorizado à sua conta.</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Repita a nova palavra passe</label>
                        <input type="text" class="form-control" placeholder="Company" value="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="checkbox" class="" placeholder="Company" value="">
                        <label>Obrigar-me actualizar a palavra passe em cada 72 dias</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-fill btn-info btn-fill">Salvar</button>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="header">
        <h4 class="title">Eliminar conta </h4>
    </div>
    <div class="content">
        <button type="submit" class="btn btn-fill btn-danger btn-fill">Preciso eliminar definitivamente a minha conta
            Everest4.0</button>
    </div>
</div>