.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    z-index: 2;
    color: #000;
    background-color: #ececec;
    border-color: #c5c5c5;
}

.card-body {
    .list-group{
        margin: 15px;
        .active{
            border-left: solid 5px #24baee;
        }
    }
}

