<app-backoffice-navbar [title]="'Detalhes de utilizador'"></app-backoffice-navbar>
<div class="row">
</div>
<div class="card" style="background: #eee;">
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <img src="{{user.avatar}}" alt="img" class="img-thumbnail" style="width: 100%;">
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">Nome completo</div>
                    <div class="col-md-9">
                        <h4>{{user.datas.fullName}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">E-mail</div>
                    <div class="col-md-9">
                        <h4>{{user.email}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">Telefone</div>
                    <div class="col-md-9">
                        <h4>{{user.telePhone }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">Sexo</div>
                    <div class="col-md-9">
                        <h4>{{['Outro','Feminino','Masculino'][user.datas.sex]}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-6">Data de nascimento</div>
                    <div class="col-md-9">
                        <h4>
                            {{user.datas.birthDate|amLocale:'pt'| amParseZone | amDateFormat: " D [de] MMMM [de] YYYY" }}
                            <span>({{user.datas.birthDate|amLocale:'pt'| amTimeAgo}})</span></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">Membro desde</div>
                    <div class="col-md-9">
                        <h4>
                            {{user.datas.createdAt|amLocale:'pt'| amParseZone | amDateFormat: " D [de] MMMM [de] YYYY" }}
                            ({{user.createdAt|amLocale:'pt'| amTimeAgo}})</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <h4>
                            <button
                                class="btn-fill btn-{{['success','danger'][user.isActive?0:1]}} btn">{{['Activo','Inactivo'][user.isActive?0:1]}}</button>
                                <hr>
                            <button *ngFor="let role of user.roles"
                                class="btn-fill btn-{{role| lowercase}} btn" style="border: none; margin:5px">{{role}}</button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="{{isTab==1 ?'active' : ''}}"><a (click)="isTab=1">Home</a></li>
    <li class="{{isTab==2 ?'active' : ''}}"><a (click)="isTab=2">Mais dados</a></li>
    <li class="{{isTab==3 ?'active' : ''}}"><a (click)="isTab=3">Definição</a></li>
    <li class="{{isTab==4 ?'active' : ''}}"><a (click)="isTab=4">Eventos</a></li>
</ul>

<div class="card" *ngIf="isTab==1">
    <div class="header">
        Home
    </div>
    <div class="content">
    </div>
</div>


<div class="card" *ngIf="isTab==2">
    <div class="header">
        
    </div>
    <div class="content">

        <div class="content row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4 text-right">Nível acadêmico</div>
                    <div class="col-md-8">
                        <h4>{{user.datas.academicLevel.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">Experiêcia profissional</div>
                    <div class="col-md-8">
                        <h4>{{user.datas.professionalExperience.name }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">Situação laboral</div>
                    <div class="col-md-8">
                        <h4>{{user.datas.workSituation.name }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 text-right">Salário</div>
                    <div class="col-md-8">
                        <h4>{{user.datas.salary|number:'1.2-2'}} akz</h4>
                        <ul>
                            <li>Dia: {{user.datas.salary/22| number:'1.2-2'}} kzs</li>
                            <li>Hora: {{user.datas.salary/(22*8)| number:'1.2-2'}} kzs</li>
                            <li>Minuto: {{user.datas.salary/(22*8*60)| number:'1.2-2'}} kzs</li>
                        </ul>
                    </div>
                </div>
                <div class="row hidden">
                    <div class="col-md-4 text-right">Situação laboral</div>
                    <div class="col-md-8">
                        <h4>{{user.datas.activitySector|json }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card" *ngIf="isTab==3">
    <div class="header">

    </div>
    <div class="content">
    </div>
</div>


<div class="card" *ngIf="isTab==4">
    <div class="header">

    </div>
    <div class="content">
    </div>
</div>