<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <a routerLink="/backoffice/coaching/board/m/{{subscription.id}}"
                    *ngFor="let subscription of subscriptions" class="col-md-3">
                    <div class="card text-center">
                        <img src="{{auth.serverAddress}}{{subscription.user.photoUrl}}" class="img-thumbnail" />
                        <b>{{subscription.user.datas.fullName}}</b><br>
                        <small>{{subscription.createdAt|amLocale:'pt'|amTimeAgo}}</small>

                        <app-progress-bar done="59" [noLabel]=true></app-progress-bar>
                        <app-progress-bar done="73" [noLabel]=true></app-progress-bar>
                        <div class="row text-center">
                            <button class="btn btn-xs btn-info btn-fill"> Avaliar</button>
                        </div>
                    </div>
                </a>
                <div *ngFor="let i of lessSbscriptions" class="col-md-3">
                    <div class="card text-center">
                        <br />
                        <br />
                        <img src="/assets/img/faces/base.png" class="img-thumbnail" style="opacity: .05" />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-task [showControls]="false" [filters]="['coaching']"></app-task>
                <div class="card hidden">
                    <div class="card-header ">
                        <h3 class="pull-left">Feedback das sessões</h3>
                        <img src="assets/img/sidebar-4.jpg">
                    </div>
                    <div class="card-body" style="padding: 15px; border-top:solid 1px #eee">

                        <ul class="list-group">
                            <div *ngFor="let v of [1,2,3,4]">
                                <li class="list-group-item">
                                    <button class="btn btn-xs pe-7s-help1 border-none"> </button>
                                    xxxxxx
                                    <button class="btn btn-xs pull-right btn-info btn-fill"> Avaliar</button>

                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header ">
                        <img src="assets/img/sidebar-3.jpg">
                        <h3 class="pull-left">Histórico</h3>
                    </div>
                    <div class="card-body" style="padding: 15px; border-top:solid 1px #eee">
                        <ul class="list-group">
                            <a *ngFor="let subscription of subscriptions" class="list-group-item">
                                <div class="row">
                                    <div class="col-md-2" style="padding: 0;">
                                        <img src="{{auth.serverAddress}}{{subscription.user.photoUrl}}"
                                            class=""  style="    width: 100%;margin: -10px 1px;"/>
                                    </div>
                                    <div class="col-md-9">
                                        <b>{{subscription.user.datas.fullName}}</b><br>
                                        <small>{{subscription.createdAt|amLocale:'pt'|amTimeAgo}}</small>
                                        <app-progress-bar done="73" [noLabel]=true></app-progress-bar>
                                    </div>
                                    <div class="col-md-1">
                                        <a routerLink="/backoffice/coaching/board/m/{{subscription.id}}" class="btn btn-xs border-none pull-right"> <i class="pe-7s-angle-right" style="font-size: 24px;margin: 15px 0;"></i></a>
                                    </div>
                                </div>
                            </a>
                        </ul>

                    </div>
                    <div class="card-footer row">

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-virtual-dataroom [small]="true" [cssClass]="'red'"></app-virtual-dataroom>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header ">
                        <img src="assets/img/sidebar-3.jpg">
                        <h3 class="pull-left">Programas</h3>
                    </div>
                    <div class="card-body" style="padding: 15px; border-top:solid 1px #eee">
                        <ul class="list-group">
                            <a *ngFor="let program of programs.slice(0,5); let i=index" class="list-group-item">
                                <div class="row">
                                    <div class="col-md-11">
                                        <b><i class="{{['pe-7s-global','pe-7s-lock'][program.privacity]}}"></i>  {{program.title}}</b><br>
                                        <small>{{program.descriptions ? program.descriptions.substring(0, 60) : ''}}</small>
                                    </div>
                                    <div class="col-md-1">
                                        <a routerLink="/backoffice/coaching/board/{{program.id}}" class="btn btn-xs border-none pull-right"> <i class="pe-7s-angle-right" style="font-size: 24px;margin: 10px 0;"></i></a>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                    <div class="card-footer row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>