<app-backoffice-navbar [title]="'Actualizar utlizador'"></app-backoffice-navbar>
<form [formGroup]="form" (ngSubmit)="saveForm()">
    <div class="card col-md-9">
        <div class="header">
            <h3 class="title">Usuário</h3>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" formControlName="userName" [(ngModel)]="user.username">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-mail</label>
                        <input type="email" class="form-control" formControlName="email" [(ngModel)]="user.email">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Telefone</label>
                        <input type="text" class="form-control" formControlName="telePhone" value="{{user.telePhone}}"
                            [(ngModel)]="user.telePhone">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Perfil</label>
                        <select type="text" class="form-control" formControlName="roles" [(ngModel)]="user.roleId">
                            <option *ngFor="let item of ['FREE','PREMIUM','PRO']">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-2 ">
                    <div class="form-group">
                        <label>Estado</label>

                        <label class="toggle-control">
                            <input type="checkbox" formControlName="isActive" [(ngModel)]="user.isActive">
                            <span class="control"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-md-9">
        <div class="header">
            <h3 class="title">Dados pessoais</h3>
        </div>

        <div class="content">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Primeiro Nome</label>
                        <input type="text" class="form-control" formControlName="firstName"
                            value="{{user.datas.firstName}}" [(ngModel)]="user.datas.firstName">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Ultimo Name</label>
                        <input type="text" class="form-control" formControlName="lastName"
                            value="{{user.datas.lastName}}" [(ngModel)]="user.datas.lastName">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="">Others Name</label>
                        <input type="text" class="form-control" formControlName="othersName"
                            value="{{user.datas.othersName}}" [(ngModel)]="user.datas.othersName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Sexo</label>
                        <select type="text" class="form-control" formControlName="sex" [(ngModel)]="user.datas.sex">
                            <option value="{{item.id}}" *ngFor="let item of sexs">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Data de Nascimento</label>
                        <input type="date" class="form-control" formControlName="birthDate"
                            value="{{user.datas.birthDate}}" [(ngModel)]="user.datas.birthDate">
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Nivel academico</label>
                        <select class="form-control" formControlName="academicLevel"
                            [(ngModel)]="user.datas.academicLevel">
                            <option value="{{item.id}}" *ngFor="let item of academicLevels">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Situation profissional</label>
                        <select type="text" class="form-control" formControlName="workSituation"
                            [(ngModel)]="user.datas.workSituation">
                            <option value="{{item.id}}" *ngFor="let item of workSituations">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Experiencia professional</label>
                        <select type="text" class="form-control" formControlName="professionalExperience"
                            [(ngModel)]="user.datas.professionalExperience">
                            <option value="{{item.id}}" *ngFor="let item of professionalExperiences">{{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Sector de actividades</label>
                        <input type="text" class="form-control" formControlName="activitySector"
                            [(ngModel)]="user.datas.activitySector">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="">Salario (mês)</label>
                        <input type="text" class="form-control" formControlName="salary" value="{{user.datas.salary}}"
                            [(ngModel)]="user.datas.salary">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-md-9">
        <div class="header">
            <h3 class="title">Definições do usuário</h3>
        </div>


        <div class="content">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="">Categorias de Notícias</label>
                        <ng-select [multiple]="true" [items]="newsCategories" formControlName="newsCategories"
                            [(ngModel)]="user.settings.newsCategories">
                        </ng-select>
                    </div>
                    <div style="border: solid 1px #ddd; border-radius:5px">
                        <ul>
                            <li *ngFor="let item of user.settings.newsCategories">{{item}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="">Lingua</label>
                        <select type="text" class="form-control" formControlName="i18n"
                            [(ngModel)]="user.settings.i18n">
                            <option value="{{item.id}}" *ngFor="let item of i18n">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="">Fuso horário</label>
                        <!--Using items input-->
                        <ng-select [items]="timeZonesList" formControlName="timeZones"
                            [(ngModel)]="user.settings.timeZones">
                        </ng-select>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card col-md-9 border-none">
        <div class="footer">
            <button type="submit" class="btn btn-info btn-fill">Actualizar dados</button>
            <div class="clearfix"></div>
        </div>
    </div>

</form>