<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p class="hidden-lg hidden-md">{{getTitle()}}</p>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngxPermissionsOnly]="['FREE']">
                    <li>
                        <a class="btn btn-primary" [routerLink]="['/me/upgrade']"
                            *ngIf="auth.user.roles.includes('FREE')" routerLinkActive="router-link-active">
                            <span class="hidden-sm">Mudar para PREMIUM</span>
                        </a>
                    </li>
                </ng-template>
                <li>
                    <button class="btn btn-info">
                        <span class="hidden-sm">Partilhar</span>
                    </button>
                </li>
                <ng-template [ngxPermissionsOnly]="['ADMIN']">
                    <li>
                        <a [routerLink]="['/backoffice']" *ngIf="auth.user.roles.includes('ADMIN')"
                            class="btn btn-danger">
                            <span class="hidden-sm">backoffice</span>
                        </a>
                    </li>
                </ng-template>
                <li>
                    <a href="#">
                        <i class="fa fa-search"></i>
                        <p class="hidden-lg hidden-md">Search</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <b class="caret"></b>
                        <span class="notification hidden-sm hidden-xs">5</span>
                        <p class="hidden-lg hidden-md">
                            5 Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{auth.user.avatar}}" style="max-width: 100%;border-radius: 100px;width: 30px;height: 30px;"
                            onerror="this.onerror=null;this.src='assets/img/image_not_found.png';">
                    </a>
                    <div class="card card-user dropdown-menu" style="width: 300px;">
                        <div class="image image-cover" style="height: 260px;">
                            <img src="{{auth.user.avatar}}" alt="..." />
                        </div>
                        <div class="content text-center">
                            <button class="btn btn-outline-success btn-warning">
                                <i *ngIf="auth.user.roleId!='FREE'" class="pe-7s-medal"
                                    style="font-size: 33px; padding: 5px;"></i><br>
                                <i *ngIf="auth.user.roleId=='FREE'" class="pe-7s-delete-user"
                                    style="font-size: 33px; padding: 5px;"></i><br>
                                {{auth.user.roleId}}
                            </button>

                            <hr />
                            <h4 class="title">{{auth.user.datas.firstName}} {{auth.user.datas.lastName}}<br />
                                <small>{{auth.user.email}}</small><br>
                            </h4>
                            <hr />
                            <a routerLink="/me/user">
                                <h6>Ver Perfil</h6>
                            </a>,
                            <a (click)="signOut()">
                                <h6>Sair</h6>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>