<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col col-xs-6">Objectivo</div>
                    <div class="col col-xs-4 text-right">Meta(Anual)</div>
                    <div class="col col-xs-2 ">Criar tarefa</div>

                </div>
            </div>
        </div>
        <div class="card-body">
            <ngx-skeleton-loader *ngIf="goals.length==0" count=5 animation="pulse"></ngx-skeleton-loader>
            <div class="col-xs-12">
                <div class="row" *ngFor="let goal of goals; let i = index">
                    <div class="col-md-12">
                        <div class="col col-xs-6">
                            <button class="accordion btn btn-xs pe-7s-angle-down pull-left" title="panel-goal-{{i}}"
                                (click)="accordion($event.target)"></button>
                            {{goal.objectives}}
                            <span class="badge ">{{goal.tasks.length}}</span>
                        </div>
                        <div class="col col-xs-4 text-right">{{anualGoal(goal)}}</div>
                        <div class="col col-xs-2 actions text-right"><button class="btn" (click)="addTask(goal)"><i
                                    class="pe-7s-plus"></i></button>
                        </div>
                    </div>

                    <div class="panel" id="panel-goal-{{i}}">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Tarefa</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let task of goal.tasks; let t=index" (click)="showTaskDetails(task)">
                                    <td>{{t+1}}</td>
                                    <td>
                                        {{task.descriptions}}<br />
                                        <span class="tin-text">{{task.updatedAt|date}} <i class="pe-7s-clock"
                                                style="color: #F00;" *ngIf="!inTime(task.dueDate)"></i></span>
                                    </td>
                                    <td>
                                        <span
                                            class="label label-{{['default','primary','warning','success','danger','default'][task.state]}}">
                                            {{statesArr[task.state]}}</span>

                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-xs border-none" (click)="showTaskDetails(task)">
                                            <i class="pe-7s-angle-right"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr *ngIf="goal.tasks.length1">
                                    <td colspan="3" class="text-center">
                                        Sem registo
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="col-sm-12">
        <a href="#" class="thumbnail">
            <div class="frontpage_square">
                <img src="" class="img img-responsive full-width" />
            </div>
        </a>
    </div>
</div>


<jw-modal id="plan-modal" class="md" title="{{task.goal.objectives}}" subtitle="Registar nova tarefa">
    <div class="row">
        <form [formGroup]="form.fg" (ngSubmit)="saveTask()">
            <div class="col-md-12">
                <div class="form-group  col-md-12">

                    <label for="inputDescriptions">Tarefa</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="task.descriptions"
                        formControlName="descriptions" #descriptions>

                    <div *ngIf="form.controls.descriptions.touched && form.controls.descriptions.invalid" class="error">
                        <div *ngIf="form.controls.descriptions.errors.required">Este campo é obrigatório</div>
                    </div>

                </div>
                <div class="form-group col-md-4">
                    <label for="inputDuration">Duração (minutos)</label>
                    <input type="number" class="form-control form-control-lg" [(ngModel)]="task.duration"
                        formControlName="duration" id="duration">
                    <div *ngIf="form.controls.duration.touched && form.controls.duration.invalid" class="error">
                        <div *ngIf="form.controls.duration.errors.required">Este campo é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-md-8">
                    <label for="inputDueDate">Data de conclusão</label>
                    <input type="date" class="form-control form-control-lg" [(ngModel)]="task.dueDate"
                        formControlName="dueDate" id="inputDueDate">
                    <div *ngIf="form.controls.dueDate.touched && form.controls.dueDate.invalid" class="error">
                        <div *ngIf="form.controls.dueDate.errors.required">Este campo é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputRevenue">Receitas</label>
                    <input type="number" class="form-control form-control-lg" [(ngModel)]="task.revenue"
                        formControlName="revenue" id="inputRevenue">
                    <div *ngIf="form.controls.revenue.touched  && form.controls.revenue.invalid" class="error">
                        <div *ngIf="form.controls.revenue.errors.required">Este campo é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputExpenses">Curstos</label>
                    <input type="number" class="form-control form-control-lg" [(ngModel)]="task.expenses"
                        formControlName="expenses" id="inputExpenses">
                    <div *ngIf="form.controls.expenses.touched  && form.controls.expenses.invalid" class="error">
                        <div *ngIf="form.controls.expenses.errors.required">Este campo é obrigatório</div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputPassword1">Estado</label>
                    <div>
                        <div class="o-switch btn-group" data-toggle="buttons" role="group">
                            <label class="btn btn-secondary active color-yellow" (click)="setEstate(1)">
                                <input type="radio" [(ngModel)]="task.state" name="option1" value="1" id="option1"
                                    autocomplete="off" [ngModelOptions]="{standalone: true}" checked> Por iniciar
                            </label>
                            <label class="btn btn-secondary color-green" (click)="setEstate(2)">
                                <input type="radio" [(ngModel)]="task.state" name="option2" value="2" id="option2"
                                    autocomplete="off" [ngModelOptions]="{standalone: true}"> Em curso
                            </label>
                            <label class="btn btn-secondary color-red" (click)="setEstate(3)">
                                <input type="radio" [(ngModel)]="task.state" name="option3" value="3" id="option3"
                                    autocomplete="off" [ngModelOptions]="{standalone: true}"> Concluido
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <label for="textAreaObservations">Observações</label>
                    <textarea type="date" class="form-control form-control-lg" [(ngMode)]="task.observations"
                        formControlName="observations" id="textAreaObservations"></textarea>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button class="btn btn-success btn-fill">Salvar</button>
            </div>
        </form>
    </div>
</jw-modal>

<jw-modal id="task-detail-modal" class="lg">
    <button class="btn pull-right" style="font-size: 50px; border:none;" (click)="closeModal('task-detail-modal')"><i
            class="pe-7s-close"></i></button>
    <h1>Detalhes</h1>

    <hr>
    <div class="col-md-12 details">
        <div class="col-md-6">
            <div class="row">
                <h5>Tarefa</h5>
                <h3 style="font-weight: 900;">{{taskDetails.descriptions}}</h3>
            </div>
            <div class="row">
                <h5>Receitas</h5>
                <h4>{{taskDetails.revenue||0.00}} <span style="font-size: 14px;">KZs</span></h4>
            </div>
            <div class="row">
                <h5>Curstos</h5>
                <h4>{{taskDetails.expenses||0.00}} <span style="font-size: 14px;">KZs</span></h4>
            </div>
            <div class="row">
                <h5>Estado</h5>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span
                            class="label label-{{['default','primary','warning','success','danger','default'][taskDetails.state]}}">
                            {{statesArr[taskDetails.state]}}
                            <b class="caret" *ngIf="states(taskDetails.state).length"></b></span>
                    </a>
                    <ul class="dropdown-menu" *ngIf="states(taskDetails.state).length">
                        <li *ngFor="let state of states(taskDetails.state)" (click)="updateState(taskDetails, state)">
                            <a>{{statesArr[state]}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h5>Data de criação</h5>
                <h4>{{taskDetails.createdAt|date}}</h4>
            </div>
            <div class="row">
                <h5>Último acesso</h5>
                <h4>{{taskDetails.updatedAt|date}}</h4>
            </div>
            <div class="row">
                <h5>Data de conclusão</h5>
                <h4>{{taskDetails.dueDate|date}} <i class="pe-7s-clock" style="color: #F00;"
                        *ngIf="!inTime(taskDetails.dueDate)"></i></h4>
            </div>
            <div class="row">
                <h5>Duração</h5>
                <h4>{{taskDetails.duration}} minutos</h4>
            </div>
            <div class="row bd-callout bd-callout-info">

                <h5>Observações</h5>
                <span>{{taskDetails.observations}}</span>

            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12" style="border:solid 1px #eee; background-color: #eee;">
            <div class="col-md-6">
                <div class="row">
                    <h5>Objectivo</h5>
                    <h4>{{taskDetails.goal.objectives}} - {{anualGoal(taskDetails.goal)}} por ano</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h5>Domínio</h5>
                    <h4>{{taskDetails.goal.group}}</h4>
                </div>
            </div>
        </div>
    </div>
        <a id="editar" class="btn btn-simple btn-warning btn-icon" (click)="onEdit(taskDetails)">Editar</a>
    <div class="row text-center"><br>

    </div>
</jw-modal>