<app-backoffice-navbar [title]="course.title"></app-backoffice-navbar>
<div class="row">
</div>
<div class="card" style="background-image: url({{serverAddress}}{{course.cover}});">
    <div class="content" style="background-color: rgba(0,0,0,.5);">
        <div class="row">
            <div class="col-md-9">
                <h1><b style="color: #FFF;">{{course.title}}</b></h1>
                <h1 style="color: #FFF;">#{{course.code}} 
                    <i class="{{['pe-7s-global','pe-7s-lock'][course.privacity]}}"></i>
                     <button class="btn btn-fill btn-{{course.isActive ? 'success':'danger' }}" (click)="activate()">{{course.isActive ? 'Activo':'Inactivo' }}</button></h1>
            </div>
            <div class="col-md-3">
                <img src="{{serverAddress}}{{course.cover}}" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
<div class="card col-md-8">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <h3><b>Descrição</b></h3>
                <h5>{{course.descriptions}}</h5>
                <h3><b>Módulos</b></h3>
                <div class="col-md-12">
                    <div class="row" *ngFor="let module of course.modules|arrSort:'orderNo'; let i=index">
                        <div class="row {{module.orderNo>-1 && module.orderNo<90 ? '' : 'standard-module'}}" style="background: #eee;">
                            <div class="col-md-9">
                                <small>Módulo {{i}}</small>
                                <h5><b>{{module.title}}</b></h5>
                            </div>
                            <div class="col-md-3 text-right">
                                <button class="accordion btn btn-xs pe-7s-plus" (click)="addActivity(module)"></button>
                                <button class="accordion btn btn-xs pe-7s-angle-down" title="panel-expenses-{{i}}"
                                    (click)="accordion($event.target)"></button>
                            </div>
                        </div>

                        <div class="panel" id="panel-expenses-{{i}}" cdkDropList #partsList="cdkDropList"
                            [cdkDropListData]="activity.tasks" (cdkDropListDropped)="onDrop(module,$event)">
                            <ul class="list-group">
                                <li class="list-group-item" *ngFor="let activity of module.activities|arrSort:'orderNo'; let j=index"
                                    cdkDrag>
                                    <button class="btn btn-sm border-none">
                                        :: {{j+1}} 
                                    </button>
                                    {{activity.title}}
                                    <button class="btn btn-xs pull-right border-none" *ngIf="activity.orderNo<99"
                                        (click)="updateActivity(activity, module)">
                                        <i class="pe-7s-note"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>

<div class="card col-md-4">
    <div class="content">
        <div class="row">
            <div class="col-md-12 card">

                <div class="table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tr><td>Insrcitos</td></tr>
                        <tr *ngFor="let item of course.enrollments">
                            <td>{{item.user.datas.fullName}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <h3><b>Sobre o Curso</b></h3>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item row">
                        <div class="col-md-6">Duração:</div>
                        <div class="col-md-6">{{duration}} minutos</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Língua:</div>
                        <div class="col-md-6">{{course.language}}</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Nível:</div>
                        <div class="col-md-6">{{['Iniciante','Intermédio','Avançado'][course.level]}}</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Privacidade:</div>
                        <div class="col-md-6"><i class="{{['pe-7s-global','pe-7s-lock'][course.privacity]}}"></i> {{['Público','Privado'][course.privacity]}}</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Perfil:</div>
                        <div class="col-md-6"><span class="badge badge-primary" *ngFor="let role of course.roles">{{role}}</span></div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Competências:</div>
                        <div class="col-md-6"><span class="badge badge-primary" title="{{item.descriptions}}"
                                *ngFor="let item of course.evaluations">{{item.name}}</span></div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Data de Criação:</div>
                        <div class="col-md-6">{{course.createdAt|date}}</div>
                    </li>
                </ul>
            </div>
            <h3 class="hidden"><b>Inscritos</b></h3>
            <div class="col-md-12 hidden">
                <ul class="list-group">
                    <li class="list-group-item row">
                        <div class="col-md-6">Duração:</div>
                        <div class="col-md-6">50 minutos</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Competências:</div>
                        <div class="col-md-6"></div>
                    </li>
                </ul>
            </div>
            <h3><b>Estatísticas</b></h3>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item row">
                        <div class="col-md-6">Inscritos:</div>
                        <div class="col-md-6">{{course.enrollments.length}}</div>
                    </li>
                    <li class="list-group-item row hidden">
                        <div class="col-md-6">Inscritos neste Ano:</div>
                        <div class="col-md-6"></div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Certificados:</div>
                        <div class="col-md-6">{{course.enrollments.length}}</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Em curso:</div>
                        <div class="col-md-6">{{course.enrollments.length}}</div>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
</div>


<jw-modal id="form-activity-modal" class="lg" title="Actividade #{{activity.code}}">
    <h4 >{{activity.id ? 'Actualizar':'Registar nova'}} actividade nº {{activity.orderNo}} > Módulo
        {{activity.module.title}}
    </h4>
    <hr>
    <div class="row text-center">
        <form [formGroup]="activityForm" (ngSubmit)="saveActivity()" #form="ngForm">
            <div class="col-md-12">
                <div class="form-group col-md-8">
                    <label for="exampleInputEmail1">Título </label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="activity.title"
                        formControlName="title" id="exampleInputEmail1" [readonly]="activity.module.orderNo<0 || activity.module.orderNo>90"  aria-describedby="emailHelp"
                        placeholder="Title">
                </div>
                <div class="form-group col-md-2">
                    <label for="exampleInputEmail1">Duração</label>
                    <input type="number" class="form-control form-control-lg" [(ngModel)]="activity.duration"
                        formControlName="duration">
                </div>
                <div class="form-group col-md-2" *ngIf="!(activity.module.orderNo<0 || activity.module.orderNo>90)">
                    <label for="exampleInputEmail1">Tipo</label>
                    <select class="form-control form-control-lg" [(ngModel)]="activity.attType"
                        [ngModelOptions]="{standalone: true}">
                        <option value=0>Texto</option>
                        <option value=1>Ficheiro</option>
                        <option value=2>URL</option>
                        <option value=3>Exercício</option>
                    </select>
                </div>
                <div class="form-group col-md-12" *ngIf="activity.attType==0">
                    <label for="exampleInputEmail1">Descrição</label>
                    <div class="text-editor">
                        <ejs-richtexteditor [(ngModel)]="activity.descriptions" formControlName="descriptions"
                            id='typeRTE' #typeRTE [toolbarSettings]='tools' (actionBegin)='handleFullScreen($event)'
                            (actionComplete)='actionCompleteHandler()'>
                        </ejs-richtexteditor>
                    </div>
                </div>
                <div class="form-group col-md-6" *ngIf="activity.attType==1">
                    <label for="exampleInputEmail1">Anexo</label>
                    <input type="file" class="form-control form-control-lg" [(ngModel)]="activity.attachment"
                        formControlName="attachment" (change)="onFileSelect($event.target)">
                </div>
                <div class="form-group col-md-6" *ngIf="activity.attType==2">
                    <label for="exampleInputEmail1">URL</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="activity.attachment"
                        formControlName="attachment">
                </div>
                <div class="form-group col-md-12" *ngIf="activity.attType==3">

                    <div class="row">
                        <div class="col-md-8">
                            <h3>Exercicio</h3>
                        </div>
                        <div class="col-md-4 text-right">
                            <button type="button" class="btn btn-primary" (click)="addTask(activity)">
                                <i class="pe-7s-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <blockquote cdkDropList #partsList="cdkDropList" [cdkDropListData]="activity.tasks"
                            (cdkDropListDropped)="onDrop($event)">
                            <div @list class="list-container">
                                <div class="box blockquote blockquote-primary"
                                    *ngFor="let task of activity.tasks; let i=index" cdkDrag>
                                    <div class="col-md-12" style="border-top: solid;">Exercício {{i+1}}
                                        <button type="button" class="btn btn-danger btn-sm  pull-right"
                                            (click)="removeTask(i)">
                                            <i class="pe-7s-trash"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-primary pull-right"
                                            (click)="addItem(task.answers)">
                                            <i class="pe-7s-plus"></i> Adicionar opção
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="6" cols="80"
                                                placeholder="You can write your text here..." [(ngModel)]="task.text"
                                                name="text_{{i}}" [ngModelOptions]="{standalone: true}"></textarea>
                                        </div>
                                        <div class="form-group form-inline">
                                            <small class="mr-sm-2">Pontos</small>
                                            <input class="form-control mb-8 mr-sm-8" type="number"
                                                placeholder="You can write your text here..." [(ngModel)]="task.points"
                                                name="points_{{i}}" [ngModelOptions]="{standalone: true}"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" *ngFor="let answer of task.answers|arrSort:createdAt; let j=index">
                                            <small>Opção {{j+1}}</small>
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <input type="radio" [checked]="answer.correct"
                                                        [ngModelOptions]="{standalone: true}" name="correct_{{i}}"
                                                        (change)="changeCorrect(task.answers,answer.text)" required />
                                                </div>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control input-sm"
                                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="answer.text"
                                                        value="{{answer.text}}" required />
                                                </div>
                                                <div class="col-md-1">
                                                    <button type="button" *ngIf="task.answers.length>2"
                                                        class="btn btn-danger border-none"
                                                        (click)="removeItem(task.answers,j)">
                                                        <i class="pe-7s-close"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </blockquote>
                    </div>

                </div>
            </div>
            <div class="col-md-12 text-center"><br>
                <button class="btn btn-success btn-fill" type="submit" >Salvar</button>
                <button class="btn btn-default" type="button" (click)="modalService.close('form-activity-modal')">Fechar</button>
                <button class="btn btn-danger btn-fill pull-right" type="button" (click)="removeActivity(activity)"><i class="pe-7s-trash"></i></button>

            </div>
        </form>


    </div>
</jw-modal>