<app-backoffice-navbar [title]="course.title"></app-backoffice-navbar>
<div class="row">
</div>
<div class="card" style="background-image: url({{serverAddress}}{{course.cover}});">
    <div class="content" style="background-color: rgba(0,0,0,.5);">
        <div class="row">
            <div class="col-md-9">
                <h3><b>Titulo</b></h3>
                <h1><b style="color: #FFF;">{{course.title}}</b></h1>
            </div>
            <div class="col-md-3">
                <img src="{{serverAddress}}{{course.cover}}" class="img-thumbnail">
            </div>
        </div>
    </div>
</div>
<div class="card col-md-8">
    <div class="content">
        <div class="row">
            <div class="col-md-8">
                <h3><b>Descrição</b></h3>
                <h5>{{course.descriptions}}</h5>
                <h3><b>Módulos</b></h3>
                <div class="col-md-12">
                    <div class="row" *ngFor="let module of course.modules; let i=index">
                        <div class="row" style="background: #eee;">
                            <div class="col-md-9">
                                <small>Módulo {{i+1}}</small>
                                <h5><b>{{module.title}}</b></h5>
                            </div>
                            <div class="col-md-3 text-right">
                                <button class="accordion btn btn-xs pe-7s-plus" (click)="addActivity(module)"></button>
                                <button class="accordion btn btn-xs pe-7s-angle-down" title="panel-expenses-{{i}}"
                                    (click)="accordion($event.target)"></button>
                            </div>


                        </div>

                        <div class="panel" id="panel-expenses-{{i}}">
                            <ul class="list-group">
                                <li class="list-group-item"
                                    *ngFor="let activity of module.activities|arrSort:'orderNo'">
                                    {{activity.title}}
                                    <button class="btn btn-xs pull-right border-none"
                                        (click)="updateActivity(activity)">
                                        <i class="pe-7s-note"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>

<div class="card col-md-4">
    <div class="content">
        <div class="row">

            <h3><b>Sobre o Curso</b></h3>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item row">
                        <div class="col-md-6">Duração:</div>
                        <div class="col-md-6">50 minutos</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Língua:</div>
                        <div class="col-md-6">{{course.language}}</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Nível:</div>
                        <div class="col-md-6">{{['Iniciante','Intermediario','Avançado'][course.level]}}</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Competências:</div>
                        <div class="col-md-6"><span class="badge badge-primary" title="{{item.descriptions}}"
                                *ngFor="let item of course.evaluations">{{item.name}}</span></div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Data de Criação:</div>
                        <div class="col-md-6">{{course.createdAt|date}}</div>
                    </li>
                </ul>
            </div>
            <h3 class="hidden"><b>Inscritos</b></h3>
            <div class="col-md-12 hidden">
                <ul class="list-group">
                    <li class="list-group-item row">
                        <div class="col-md-6">Duração:</div>
                        <div class="col-md-6">50 minutos</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Competências:</div>
                        <div class="col-md-6"></div>
                    </li>
                </ul>
            </div>
            <h3><b>Estatísticas</b></h3>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item row">
                        <div class="col-md-6">Inscritos:</div>
                        <div class="col-md-6">{{course.enrollments.length}}</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Inscritos neste Ano:</div>
                        <div class="col-md-6"></div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Certificados:</div>
                        <div class="col-md-6">50 minutos</div>
                    </li>
                    <li class="list-group-item row">
                        <div class="col-md-6">Em curso:</div>
                        <div class="col-md-6">50 minutos</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<jw-modal id="form-activity-modal" class="lg" title="Avaliação">
    <h4></h4>
    <hr>
    <div class="row text-center">
        <form [formGroup]="activityForm">
            <div class="col-md-12">
                <div class="form-group col-md-9">
                    <label for="exampleInputEmail1">Título</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="activity.title"
                        formControlName="title" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Title">
                </div>
                <div class="form-group col-md-3">
                    <label for="exampleInputEmail1">Duração</label>
                    <input type="number" class="form-control form-control-lg" [(ngModel)]="activity.duration"
                        formControlName="duration">
                </div>
                <div class="form-group col-md-12">
                    <label for="exampleInputEmail1">Descrição</label>
                    <div class="text-editor">
                        <ejs-richtexteditor [(ngModel)]="activity.descriptions" formControlName="descriptions"
                            id='typeRTE' #typeRTE [toolbarSettings]='tools' (actionBegin)='handleFullScreen($event)'
                            (actionComplete)='actionCompleteHandler()'>
                        </ejs-richtexteditor>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputEmail1">Anexo</label>
                    <select class="form-control form-control-lg" [(ngModel)]="attType" [ngModelOptions]="{standalone: true}">
                        <option value=0>Ficheiro</option>
                        <option value=1>URL</option>
                    </select>
                </div>
                <div class="form-group col-md-6" *ngIf="attType==0">
                    <label for="exampleInputEmail1">Anexo</label>
                    <input type="file" class="form-control form-control-lg" [(ngModel)]="activity.attachment"
                        formControlName="attachment" (change)="onFileSelect($event.target)">
                </div>
                <div class="form-group col-md-6" *ngIf="attType==1">
                    <label for="exampleInputEmail1">URL</label>
                    <input type="text" class="form-control form-control-lg" [(ngModel)]="activity.attachment"
                        formControlName="attachment">
                </div>
            </div>
            <div class="row text-center"><br>
                <button class="btn btn-success btn-fill" (click)="saveActivity()">Salvar</button>
                <button class="btn btn-default" (click)="modalService.close('form-activity-modal')">Fechar</button>
            </div>
        </form>


    </div>
</jw-modal>