<div class="container-fluid menu-coach">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <a href="#" class="btn btn-info btn-fill">Portal do Profissional</a>
            <a href="#" class="btn btn-danger btn-fill">Subscrever serviço</a>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-5" style="text-align: end; margin-top: 5%;">
                            <a href="#" class=" btn btn-info">
                                <i class="pe-7s-note"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="card-img">
                            <app-diagnostic-view></app-diagnostic-view>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row" style="text-align: center; margin: 0;">
                        <div class="col-md-8">
                            <h1 class="card-title">Avalie-se cada dia!</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-img">
                                <img class="card-img img-responsive" src="assets/img/carrer.png" alt="img">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-text">
                                Some quick example text to build on the card title and make up the bulk
                                of the card's content. <br>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                Officiis sunt earum fuga quisquam velit voluptates doloribus?
                                Perferendis, nemo non illo provident nam sequi iusto! Possimus
                                dolor voluptatum autem porro tempore.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" *ngFor="let item of results; let i = index">
                    <div class="card col-md-12" [currentResults]="setResults(item)">
                        <div>
                            <h4>{{currentResults.name}} <span class="badge">{{currentResults.evaluations.length}}</span>
                            </h4>
                            <ul class="list-group" *ngFor="let group of currentResults.groups">
                                <li (click)="registGoal(currentResults, group[0])"
                                    class="list-group-item list-group-item-action active">
                                    <h6>{{group[0]}}</h6>
                                </li>
                                <div *ngFor="let item of group[1]">
                                    <li class="list-group-item">
                                        {{item.name}}</li>
                                </div>
                            </ul>
                            <ul class="list-group" *ngFor="let group of otherResults">
                                <li class="list-group-item list-group-item-action bg-info">
                                    <h5>{{group}}</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>