<div class="card {{role === 'coach' ? 'red' : 'default'}}">
    <div class="card-header ">
        <img src="assets/img/sidebar-4.jpg">

        <h3 class="pull-left">Feedbacks</h3>
        <button class="btn border-none pull-right" *ngIf="role=='coach'" (click)="openModal()">
            <h3><i class="pe-7s-plus"></i></h3>
        </button>
    </div>
    <div class="card-body" style="padding: 15px; border-top:solid 1px #eee">

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let feedback of feedbacksPaginated; let i=index"  (click)="feedbackView(feedback,i)">
                <div class="row">
                    <div class="col-md-6">
                        Feedback {{feedbacks.length - i }}<br>
                        <small>{{feedback.createdAt|amLocale:'pt'|amTimeAgo}}</small>
                    </div>

                    <div class="col-md-3">
                        <button class="btn btn-xs btn-info"> {{points(feedback)}}</button>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-xs pull-right border-none text24" style="font-size: 24px;">
                            <i class="pe-7s-angle-right "></i>
                        </button>
                    </div>

                </div>
                <div class="row">
                </div>
            </li>
        </ul>
    </div>
    
    <div class="card-footer">
        <app-jw-pagination [items]="feedbacks" (changePage)="onChangePage($event)" *ngIf="feedbacks.length>0"></app-jw-pagination>
    </div>
</div>


<jw-modal id="feedback-modal" class="sm {{editing ? 'editing':''}}">
    <br>
    <h4><span *ngIf="!editing">{{feedback.id ==undefined ? 'Registar' : 'Actualizar'}} Feedback</span>
        <button class="btn pull-right border-none" (click)="editing=!editing" *ngIf="editing"><i
                class="pe-7s-note"></i></button>
    </h4>
    <hr>
    <div class="row text-center card-body">
        <form #courseF="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box blockquote blockquote-primary" *ngFor="let point of feedback.points; let i=index">
                        <div class="col-md-9 text-left">
                            {{i+1}}.
                            <b>{{point.item.title}}</b>
                            <app-progress-bar done="point.point" [noLabel]=true></app-progress-bar>
                        </div>
                        <div class=" col-md-3 form-group">
                            <input type="number" class="form-control form-control-lg" min=0 max=5 step=1
                                [(ngModel)]="point.point" [ngModelOptions]="{standalone: true}" placeholder="Title">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea type="email" class="form-control form-control-lg"
                                [(ngModel)]="feedback.descriptions" formControlName="descriptions" required
                                aria-describedby="emailHelp" placeholder="insira o seu texto aqui"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center"><br>
                <button class="btn btn-success bg-success" *ngIf="!editing || feedback.id===undefined">Salvar</button>
            </div>
        </form>

    </div>
</jw-modal>

<jw-modal id="feedback-view-modal" class="lg">
    <br>

    <div class="row card-body">
        <div class="col-md-6">
            <h4>Feedback {{feedbacks.length - feedback.orderNo}}</h4>
            <div class="box blockquote blockquote-primary" *ngFor="let point of feedback.points; let i=index">
                <div class="col-md-9 text-left">
                    {{i+1}}.
                    <b>{{point.item.title}}</b>
                    <app-progress-bar done="{{point.point*100/5}}" [noLabel]=true></app-progress-bar>
                </div>
                <div class=" col-md-3 form-group">
                    <h4>{{point.point}}</h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">{{feedback.descriptions}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 card comments">
            <h3>Comentários</h3>
            <div id='card-body' class="card-body">
                <ul class="list-group">
                    <li class="list-group-item {{item.user.id==auth.user.id ? 'mine':'theirs'}}"
                        *ngFor="let item of feedback.comments">
                        <small>{{ item.user.id==auth.user.id ? 'Eu' : item.user.datas.fullName}}</small>
                        <div class="well">
                            {{item.text}}
                        </div>
                        <small>{{item.createdAt|amLocale:'pt'|amTimeAgo}}</small>
                    </li>
                </ul>
            </div>
            <div class="card-footer" style="padding:0">
                <form (ngSubmit)="onSubmit()" style="margin-bottom: -10px;">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fa fa-paperclip"></i></span>
                        </div>
                        <textarea name="" class="form-control type_msg" [(ngModel)]="comment.text"
                            [ngModelOptions]="{standalone: true}" placeholder="Type your message..."></textarea>
                        <div class="input-group-append">
                            <span class="input-group-text send_btn" (click)="sendComment()"><i
                                    class="fa fa-location-arrow"></i></span>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</jw-modal>