.row{

    .main{
        background-image: url('assets/img/testimonial/template_2.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        height: 620px ;
        width:875px;
        padding:15px
    }
    *{

      //  border: solid 1px #F00;
    }
}