<div class="row">
    <div class="col-md-12 text-center">
        <div style="width: 100%; min-height:650px;background:#FFF; position: absolute;z-index: 99999;">
            <img id="main-test">
        </div>
        <div class="main" id="main">
            <div style="display: flex;">
                <div style="width:33%">
                    <img src='assets/img/loader-preview.svg' style="margin: -47px;margin-left: -206px;;width: 250px;">
                </div>
                <div style="width:33%"></div>
                <div style="width:33%"></div>
            </div>
            <div style="margin: 13% auto 0% auto; width: 600px; height: 250px; text-align: center;">
                <p style="font-size:23px">Reconhecemos pelo presente que</p>
                <h2 style="text-transform: uppercase;">{{auth.user.datas.fullName}}</h2>
                <p style="font-size: 23px">concluiu o curso</p><br><br><h2 style="color:#1e9de7"> {{course.title}}</h2>
            </div>

            <div style="display: flex;">
                <div style="width:33%;color: #FFF;padding-top: 80px; text-align:left">
                    CO-{{course.code}}<br>
                    01-2021
                </div>
                <div style="width:33%"></div>
                <div style="width:34%; text-align:right">
                    <qrcode [qrdata]="'Everest4.0 * '+auth.user.datas.fullName+' * '+course.code+' - '+course.title"
                        [width]="130" [errorCorrectionLevel]="'M'" [elementType]="'svg'"></qrcode>
                </div>
            </div>
        </div>
    </div>
</div>