.user-filter{
    position: fixed;
    padding: 5px;
    border: solid 1px #eee;
    background: #FFF;
    width: 350px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
    border-radius: 3px;
    z-index:999;
    span{
        display: flex;
        padding: 10px;
        border-top: 1px solid #eee;
        cursor: pointer;
    }
    span:hover{
        background: #eee;
    }

}
.user-selected{
    border: solid 1px #99ceff;
    box-shadow: 0 0 15px #ccc;
    border-radius: 5px;
    h4{
        margin: 0;
        padding: 0;
    }
    div{
        padding: 15px 5px;
    }
    .col-sm-3{
        padding: 0;
    }
    i{
        color: #F00;
        display: none;
    }
}
.user-selected:hover {
i{
    display: block;
}
}
.user-selected{
    padding: 0;
}
