<nav class="navbar navbar-dark bg-header">
    <div class="main-content">
      <div class="container-fluid">
        <div class="container-fluid">
          <div class="col-lg-4 col-md-4">
            <h2>{{['Resultados esperados','Planos de acção','Orçamento'][isTab-1]}}</h2>
          </div>
          <div class="col-lg-6 col-md-8 text-right">
              <div class="row">
            <div class="col-xs-4 col {{isTab==1 ? 'active' : ''}}" (click)="switchtabTo(1)">
              <i class="pe-7s-arc"></i><br>
              <h4>Resultados esperados</h4>
              <p>Permite ao utilizador efectuar a definição e o carregamento dos objectivos, indicadores (KPI) e metas (anuais, trimestrais e mensais)</p>
            </div>
            <div class="col-xs-4 col {{isTab==2 ? 'active' : ''}}" (click)="switchtabTo(2)">
              <i class="pe-7s-plugin"></i><br>
              <h4>Planos de acção</h4>
              <p>Permite ao utilizador efectuar a definição e o carregamento das tarefas necessárias à concretização dos objectivos e metas, bem como dos recursos financeiros necessários à execução de cada tarefa</p>
            </div>
            <div class="col-xs-4 col {{isTab==3 ? 'active' : ''}}" (click)="switchtabTo(3)">
              <i class="pe-7s-piggy"></i><br>
              <h4>Orçamento</h4>
              <p>Permite ao utilizador converter em efectivo as despesas e receitas registadas aquando do planeamento das tarefas. Permite também efectuar o controlo orçamental.</p>
            </div>
        </div>
          </div>
          <div class="col-lg-2">
          </div>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="main-content">
    <div class="container-fluid">
      <div class="col-lg-10">
        <app-results *ngIf="isTab==1"></app-results>
        <app-plans *ngIf="isTab==2"></app-plans>
        <app-budgets *ngIf="isTab==3"></app-budgets>
      </div>
      <div class="col-lg-2">
      </div>
    </div>
  </div>