<app-backoffice-navbar [title]="'Detalhes do desafio'"></app-backoffice-navbar>
<div class="main-content">
    <div class="row">
        <div class="header col-md-offset-1">
            <h4 class="title">
                {{quiz.text}}
                <button class="btn-fill btn-xs btn-{{['success','danger'][quiz.isActive?0:1]}} btn">
                    {{['Activo','Inactivo'][quiz.isActive?0:1]}}
                </button>
            </h4>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Opções</th>
                            <th>Corretas</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let answer of quiz.answers; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{answer.text}}</td>
                            <td>
                                {{answer.correct}}
                            </td>
    
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-sm-2">
                <h4>Tentativas</h4>
                <a href="#" class="thumbnail">
                    <div class="frontpage_square  text-center">
                        <img src="" class="img img-responsive full-width" />
                        <h1>0</h1>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <h4>Correctas</h4>
                <a href="#" class="thumbnail bg-success">
                    <div class="frontpage_square text-center bg-success">
                        <img src="" class="img img-responsive full-width" />
                        <h1>0</h1>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <h4>Erradas</h4>
                <a href="#" class="thumbnail bg-danger">
                    <div class="frontpage_square text-center bg-danger">
                        <img src="" class="img img-responsive full-width" />
                        <h1>0</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>