/* You can add global styles to this file, and also import other style files */

*{
    transition: .5;
}

h2#swal2-title {
    font-size: 3.4em !important;
}
div#swal2-content {
    font-size: 1.4em !important;
}

.hidden{
    display: none;
}

.modal-dialog {
    margin: 15% auto;
}
.modal.show {
    opacity: 1;
}
.modal.show {
    opacity: 1 !important;
}

.fade.modal-backdrop.show, .d-block.fade.modal.show{
    opacity: 1;
}
