<div class="main-content">
    <div class="container-fluid">

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <lbd-chart [title]="'% OBJECTIVOS SEMANAIS'" *ngIf="tasks.all.length>0" [subtitle]="''"
                        [chartClass]="'ct-perfect-fourth'" [chartType]="emailChartType"
                        [chartData]="getEmailChartDataSeries()" [legendItems]="emailChartLegendItems" [withHr]="true"
                        [chartOptions]="chartOptions">
                    </lbd-chart>
                </div>

                <div class="col-md-6">
                    <lbd-chart [title]="'DASHBOARD EXECUTIVO'" [subtitle]="''" [chartType]="activityChartType"
                        [chartData]="activityChartData" [chartOptions]="activityChartOptions"
                        [chartResponsive]="activityChartResponsive" [legendItems]="activityChartLegendItems"
                        [withHr]="true">
                    </lbd-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title">NOTÍCIAS</h4>
                    <p class="category">Backend development</p>
                </div>
                <div class="col-md-3" *ngFor="let new of news">
                    <div class="card">
                        <div class="card-header">
                            <img src="{{ new.image }}" class="img-responsive" /></div>
                        <div class="card-body" style="padding: 5px 15px;">
                            <h5>{{ new.title }}</h5>
                            <p style="display: none;">{{ new.body }}</p>
                        </div>
                        <div class="card-footer" style="padding: 15px; border-top:solid 1px #eee"><span
                                class="badge badge-info">{{ new.footer }}</span></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <div class="btn-group pull-right" style="">
                <button type="button" (click)="isCalendar=!isCalendar" class="btn active" style="border: none;font-size: 24px;"><i class="pe-7s-menu"></i></button>
                <button type="button" (click)="isCalendar=!isCalendar" class="btn" style="border: none;font-size: 24px;"><i class="pe-7s-date"></i></button>
                <button type="button" class="btn" style="border: none;font-size: 24px;"><i class="pe-7s-plus"></i></button>
              </div>
              <app-schedule *ngIf="!isCalendar"></app-schedule>
              <app-calendar *ngIf="isCalendar"></app-calendar>
        </div>

        <div class="row">

        </div>
    </div>
</div>

<jw-modal id="task-detail-modal" class="lg">
    <button class="btn pull-right" style="font-size: 50px; border:none;" (click)="closeModal('task-detail-modal')"><i
            class="pe-7s-close"></i></button>
    <h1>Detalhes</h1>

    <hr>
    <div class="col-md-12 details">
        <div class="col-md-6">
            <div class="row">
                <h5>Tarefa</h5>
                <h3 style="font-weight: 900;">{{taskDetails.descriptions}}</h3>
            </div>
            <div class="row">
                <h5>Receitas</h5>
                <h4>{{taskDetails.revenue}} <span style="font-size: 14px;">KZs</span></h4>
            </div>
            <div class="row">
                <h5>Curstos</h5>
                <h4>{{taskDetails.expenses}} <span style="font-size: 14px;">KZs</span></h4>
            </div>
            <div class="row">
                <h5>Estado</h5>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span
                            class="label label-{{['default','danger','warning','success'][taskDetails.state]}}">{{['Pendente','Por inicial','Em curso','Concluido'][taskDetails.state]}}
                            <b class="caret" *ngIf="states(taskDetails.state).length>0"></b></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let state of states(taskDetails.state)">
                            <a>{{['Pendente','Por inicial','Em curso','Concluido','Cancelar'][state]}}</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <h5>Data de criação</h5>
                <h4>{{taskDetails.createdAt|date}}</h4>
            </div>
            <div class="row">
                <h5>Último acesso</h5>
                <h4>{{taskDetails.updatedAt|date}}</h4>
            </div>
            <div class="row">
                <h5>Data de conclusão</h5>
                <h4>{{taskDetails.dueDate|date}} <i class="pe-7s-clock" style="color: #F00;"
                        *ngIf="!inTime(taskDetails.dueDate)"></i></h4>
            </div>
            <div class="row bd-callout bd-callout-info">

                <h5>Observações</h5>
                <span>{{taskDetails.observations}}</span>

            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12" style="border:solid 1px #eee; background-color: #eee;">
            <div class="col-md-6">
                <div class="row">
                    <h5>Objectivo</h5>
                    <h4>{{taskDetails.goal.objectives}} - {{anualGoal(taskDetails.goal)}} por ano</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <h5>Domínio</h5>
                    <h4>{{taskDetails.goal.group}}</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center"><br>

    </div>
</jw-modal>