<div class="main-content">
    <div class="container-fluid">

        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <lbd-chart [title]="'% OBJECTIVOS SEMANAIS'" *ngIf="tasks.all.length>0" [subtitle]="'Last Campaign Performance'"
                        [chartClass]="'ct-perfect-fourth'" [chartType]="emailChartType" [chartData]="getEmailChartDataSeries()"
                        [legendItems]="emailChartLegendItems" [withHr]="true" [chartOptions]="chartOptions"
                        [footerIconClass]="'fa fa-clock-o'" [footerText]="'Campaign sent 2 days ago'">
                    </lbd-chart>
                </div>

                <div class="col-md-6">
                    <lbd-chart [title]="'DASHBOARD EXECUTIVO'" [subtitle]="'All products including Taxes'"
                        [chartType]="activityChartType" [chartData]="activityChartData"
                        [chartOptions]="activityChartOptions" [chartResponsive]="activityChartResponsive"
                        [legendItems]="activityChartLegendItems" [withHr]="true" [footerIconClass]="'fa fa-check'"
                        [footerText]="'Data information certified'">
                    </lbd-chart>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="title">NOTÍCIAS</h4>
                    <p class="category">Backend development</p>
                </div>
                <div class="col-md-3" *ngFor="let new of news">
                    <div class="card">
                        <div class="card-header">
                            <img src="{{ new.image }}" class="img-responsive" /></div>
                        <div class="card-body" style="padding: 5px 15px;">
                            <h5>{{ new.title }}</h5>
                            <p style="display: none;">{{ new.body }}</p>
                        </div>
                        <div class="card-footer" style="padding: 15px; border-top:solid 1px #eee"><span
                                class="badge badge-info">{{ new.footer }}</span></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">AGENDA E PENDENTES</h4>
                    <p class="category">Backend development</p>
                </div>
                <div class="content">
                    <div class="table-full-width">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 style="padding: 0;margin: 0;line-height: 0px;">10:30</h4><br>
                                        Sign contract for "What are conference organizers?"
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Remove"
                                            class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>

                                        <button type="button" rel="tooltip" title="Edit Task"
                                            class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="header">
                    <h4 class="title">Tarefas em atraso</h4>
                    <p class="category">Backend development</p>
                </div>
                <div class="content">
                    <div class="table-full-width">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let item of tasks.overDue; let i = index">
                                    <td>
                                        <div class="checkbox">
                                            <input  id="checkbox_{{i}}" type="checkbox">
                                            <label for="checkbox_{{i}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 style="padding: 0;margin: 0;line-height: 0px;">{{item.dueDate|date}}</h4><br>
                                        {{item.descriptions}}
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Remove"
                                            class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>

                                        <button type="button" rel="tooltip" title="Edit Task"
                                            class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="header">
                    <h4 class="title">Tarefas da semana</h4>
                    <p class="category">Backend development</p>
                </div>
                <div class="content">
                    <div class="table-full-width">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let item of tasks.thisWeek; let i = index">
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbo_{{i}}" type="checkbox">
                                            <label for="checkbox_{{i}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <h4 style="padding: 0;margin: 0;line-height: 0px;">{{item.dueDate|date}}</h4><br>
                                        {{item.descriptions}}
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Remove"
                                            class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>

                                        <button type="button" rel="tooltip" title="Edit Task"
                                            class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Updated 3 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

        </div>
    </div>
</div>
