<app-backoffice-navbar [title]="'Categorias de orçamento'"></app-backoffice-navbar>
<div class="card">
    <div class="header">
    </div>
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th></th>
                    <th style="width: 20px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let budgetCategory of budgetCategoriesPaginated; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{budgetCategory.name}}
                        <small>{{budgetCategory.descriptions}}</small>
                    </td>
                    <td><button class="btn btn-fill btn-sm btn-{{budgetCategory.direction ? 'info' : 'warning'}}"> {{budgetCategory.direction ? 'Receita' : 'Despesa'}}</button></td>
                    <td>
                        <button class="btn btn-sm btn-fill btn-{{['success','danger'][budgetCategory.isActive ? 0 : 1]}}">
                            {{['Activo','Inactivo'][budgetCategory.isActive ? 0 : 1]}}
                        </button>
                    </td>
                    <td><a title="Update" routerLink="/backoffice/budget-categories/update/{{budgetCategory.id}}" class="btn btn-xs border-none title h2"><i class="pe-7s-note"></i></a></td>
                </tr>
            </tbody>
      </table>
    </div>
    <div>
        <app-jw-pagination [items]="budgetCategories" [pageSize]=10  (changePage)="onChangePage($event)" *ngIf="budgetCategories.length>0">
        </app-jw-pagination>
    </div>
</div>