
    /*.ct-chart{
        height: auto;
        margin: -10px -70px !important;
    }*/

    .lite{
        svg{
            width: 100%;
            height: 145px;
            margin-left: -70px !important;
            margin-right: -70px;
        }
    }
    .lite.ct-chart{
        margin: auto;
        height: auto;
    }

.text-violet{
    color: #9368E9;
}