<app-backoffice-navbar [title]="'Utilizadores'" [create]='false'></app-backoffice-navbar>
<div class="card">
    <div class="content table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th>Estado</th>
                    <th>Perfils</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usersPaginated; let i=index" routerLink="/backoffice/users/details/{{user.id}}">
                    <td>{{i+1}}</td>
                    <td>{{user.datas.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.telePhone}}</td>
                    <td><label
                            class="btn-fill btn-xs btn-{{['success','danger'][user.isActive?0:1]}} btn">{{['Activo','Inactivo'][user.isActive?0:1]}}</label>
                    </td>
                    <td>
                        <label *ngFor="let role of user.roles" class="btn-fill btn-xs btn-{{role| lowercase}} btn"
                            style="border: none">{{role}}</label>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <div>
        <app-jw-pagination [items]="users" [pageSize]=10  (changePage)="onChangePage($event)" *ngIf="users.length>0">
        </app-jw-pagination>
    </div>
</div>